body {
    background-color: black;
}

#presentation {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

canvas {
    border: 1px solid white;
}

#game {
    display: flex;
    position: relative;
}